{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.pagination-wrapper{margin-top:4rem}@media screen and (min-width: 990px){.pagination-wrapper{margin-top:5rem}}.pagination__list{display:flex;flex-wrap:wrap;justify-content:center}.pagination__list>li{flex:1 0 4.4rem;max-width:4.4rem}.pagination__list>li:not(:last-child){margin-right:1rem}.pagination__item{color:rgb(var(--color-foreground));display:inline-flex;justify-content:center;align-items:center;position:relative;height:4.4rem;width:100%;padding:0;text-decoration:none}a.pagination__item:hover:after{height:.1rem}.pagination__item .icon-caret{height:.6rem}.pagination__item--current:after{height:.1rem}.pagination__item--current:after,.pagination__item:hover:after{content:"";display:block;width:2rem;position:absolute;bottom:8px;left:50%;transform:translate(-50%);background-color:currentColor}.pagination__item--next .icon{margin-left:-.2rem;transform:rotate(90deg)}.pagination__item--next:hover .icon{transform:rotate(90deg) scale(1.07)}.pagination__item--prev .icon{margin-right:-.2rem;transform:rotate(-90deg)}.pagination__item--prev:hover .icon{transform:rotate(-90deg) scale(1.07)}.pagination__item-arrow:hover:after{display:none}</style>
{% endif %}


{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

<link rel="stylesheet" data-href="{{ 'component-pagination.css' | asset_url }}">

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="pagination__list list-unstyled" role="list">
        {%- if paginate.previous -%}
          <li>
            <a
              href="{{ paginate.previous.url }}{{ anchor }}"
              class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce"
              aria-label="{{ 'general.pagination.previous' | t }}"
            >
              {% render 'icon-caret' %}
            </a>
          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          <li>
            {%- if part.is_link -%}
              <a
                href="{{ part.url }}{{ anchor }}"
                class="pagination__item link"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{- part.title -}}
              </a>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <a
                  role="link"
                  aria-disabled="true"
                  class="pagination__item pagination__item--current light"
                  aria-current="page"
                  aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                >
                  {{- part.title -}}
                </a>
              {%- else -%}
                <span class="pagination__item">{{ part.title }}</span>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
            <a
              href="{{ paginate.next.url }}{{ anchor }}"
              class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce"
              aria-label="{{ 'general.pagination.next' | t }}"
            >
              {%- render 'icon-caret' -%}
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
