{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.footer{border-top:.1rem solid rgba(var(--color-foreground),.08)}.footer:not(.color-background-1){border-top:none}.footer__content-top{padding-bottom:5rem;display:block}@media screen and (max-width: 749px){.footer .grid{display:block}.footer-block.grid__item{padding:0;margin:4rem 0;width:100%}.footer-block.grid__item:first-child{margin-top:0}.footer__content-top{padding-bottom:3rem;padding-left:calc(4rem / var(--font-body-scale));padding-right:calc(4rem / var(--font-body-scale))}}@media screen and (min-width: 750px){.footer__content-top .grid{row-gap:6rem;margin-bottom:0}}.footer__content-bottom{border-top:solid .1rem rgba(var(--color-foreground),.08);padding-top:3rem}.footer__content-bottom:only-child{border-top:0}.footer__content-bottom-wrapper{display:flex;width:100%}@media screen and (max-width: 749px){.footer__content-bottom{flex-wrap:wrap;padding-top:0;padding-left:0;padding-right:0;row-gap:1.5rem}.footer__content-bottom-wrapper{flex-wrap:wrap;row-gap:1.5rem;justify-content:center}}.footer__localization:empty+.footer__column--info{align-items:center}@media screen and (max-width: 749px){.footer__localization:empty+.footer__column{padding-top:1.5rem}}.footer__column{width:100%;align-items:flex-end}.footer__column--info{display:flex;flex-direction:column;justify-content:center;align-items:center;padding-left:2rem;padding-right:2rem}@media screen and (min-width: 750px){.footer__column--info{padding-left:0;padding-right:0;align-items:flex-end}}.footer-block:only-child:last-child{text-align:center;max-width:76rem;margin:0 auto}@media screen and (min-width: 750px){.footer-block{display:block;margin-top:0}}.footer-block:empty{display:none}.footer-block--newsletter{display:flex;align-items:flex-end;margin-top:3rem;gap:1rem}.footer-block--newsletter:only-child{margin-top:0}@media screen and (max-width: 749px){.footer-block.footer-block--menu:only-child{text-align:left}}@media screen and (min-width: 750px){.footer-block--newsletter{flex-wrap:nowrap;justify-content:center}}.footer-block__heading{margin-bottom:2rem;margin-top:0;font-size:calc(var(--font-heading-scale) * 1.6rem)}@media screen and (min-width: 990px){.footer-block__heading{font-size:calc(var(--font-heading-scale) * 1.8rem)}}.footer__list-social:empty,.footer-block--newsletter:empty{display:none}.footer__follow-on-shop{display:flex;text-align:center}.footer__list-social.list-social:only-child{justify-content:center}.footer-block__newsletter{text-align:center;flex-grow:1}.newsletter-form__field-wrapper{max-width:36rem}@media screen and (min-width: 750px){.footer-block__newsletter:not(:only-child){text-align:left;margin-right:auto}.footer-block__newsletter:not(:only-child) .footer__newsletter{justify-content:flex-start;margin:0}.footer-block__newsletter:not(:only-child) .newsletter-form__message--success{left:auto}.footer__follow-on-shop{margin-bottom:.4rem}.footer__follow-on-shop:first-child:not(:last-child){justify-content:flex-start;margin-right:auto;text-align:left}.footer__follow-on-shop:not(:first-child):not(:last-child){justify-content:flex-end;text-align:right}}@media screen and (max-width: 749px){.footer-block--newsletter{display:flex;flex-direction:column;flex:1 1 100%;align-items:center;gap:3rem}.footer__list-social.list-social,.footer__follow-on-shop,.footer-block__newsletter{display:flex;justify-content:center}.footer-block__newsletter{flex-direction:column}}@media screen and (min-width: 750px){.footer-block__newsletter+.footer__list-social{margin-top:0}}.footer__localization{display:flex;flex-direction:row;justify-content:center;align-content:center;flex-wrap:wrap;padding:1rem 1rem 0}.footer__localization:empty{display:none}.footer__localization h2{margin:1rem 1rem .5rem;color:rgba(var(--color-foreground),.75)}@media screen and (min-width: 750px){.footer__localization{padding:.4rem 0;justify-content:flex-start}.footer__localization h2{margin:1rem 0 0}}@media screen and (max-width: 989px){.footer__localization noscript{width:100%}}@media screen and (min-width: 750px){.footer__payment{margin-top:1.5rem}}.footer__content-bottom-wrapper--center{justify-content:center}.footer__copyright{text-align:center;margin-top:1.5rem}@media screen and (min-width: 750px){.footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center) .footer__copyright{text-align:right}}@keyframes appear-down{0%{opacity:0;margin-top:-1rem}to{opacity:1;margin-top:0}}.footer-block__details-content{margin-bottom:4rem}@media screen and (min-width: 750px){.footer-block__details-content{margin-bottom:0}.footer-block__details-content>p,.footer-block__details-content>li{padding:0}.footer-block:only-child li{display:inline}.footer-block__details-content>li:not(:last-child){margin-right:1.5rem}}.footer-block__details-content .list-menu__item--link,.copyright__content a{color:rgba(var(--color-foreground),.75)}.footer-block__details-content .list-menu__item--active{transition:text-decoration-thickness var(--duration-short) ease;color:rgb(var(--color-foreground))}@media screen and (min-width: 750px){.footer-block__details-content .list-menu__item--link:hover,.copyright__content a:hover{color:rgb(var(--color-foreground));text-decoration:underline;text-underline-offset:.3rem}.footer-block__details-content .list-menu__item--active:hover{text-decoration-thickness:.2rem}}@media screen and (max-width: 989px){.footer-block__details-content .list-menu__item--link{padding-top:1rem;padding-bottom:1rem}}@media screen and (min-width: 750px){.footer-block__details-content .list-menu__item--link{display:inline-block;font-size:1.4rem}.footer-block__details-content>:first-child .list-menu__item--link{padding-top:0}}.footer-block-image{display:flex}.footer-block-image.left{justify-content:flex-start}.footer-block-image.center{justify-content:center}.footer-block-image.right{justify-content:flex-end}@media screen and (max-width: 749px){.footer-block-image,.footer-block-image.left,.footer-block-image.center,.footer-block-image.right{justify-content:center}}.footer-block__image-wrapper{margin-bottom:2rem;overflow:hidden!important}.footer-block__image-wrapper img{display:block;height:auto;max-width:100%}.footer-block__brand-info{text-align:left}.footer-block:only-child .footer-block__brand-info{text-align:center}.footer-block:only-child>.footer-block__brand-info>.footer-block__image-wrapper{margin-left:auto;margin-right:auto}.footer-block-image>img,.footer-block__brand-info>img{height:auto}.footer-block:only-child .footer-block__brand-info .footer__list-social.list-social{justify-content:center}.footer-block__brand-info .footer__list-social.list-social{justify-content:flex-start;margin-left:-1.3rem;margin-right:-1.3rem}.footer-block__details-content .placeholder-svg{max-width:20rem}.copyright__content{font-size:1.1rem}.copyright__content a{color:currentColor;text-decoration:none}.policies{display:inline}.policies li{display:inline-flex;justify-content:center;align-items:center}.policies li:before{content:"\b7";padding:0 .8rem}.policies li a{padding:.6rem 0;display:block}@media screen and (min-width: 750px){.policies li a{padding:0}}@keyframes animateLocalization{0%{opacity:0;transform:translateY(0)}to{opacity:1;transform:translateY(-1rem)}}@supports not (inset: 10px){@media screen and (max-width: 749px){.footer .grid{margin-left:0}}@media screen and (min-width: 750px){.footer__content-top .grid{margin-left:-3rem}.footer__content-top .grid__item{padding-left:3rem}}}.newsletter-form{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;position:relative}@media screen and (min-width: 750px){.newsletter-form{align-items:flex-start;margin:0 auto;max-width:36rem}}.newsletter-form__field-wrapper{width:100%}.newsletter-form__field-wrapper .field__input{padding-right:5rem}.newsletter-form__field-wrapper .field{z-index:0}.newsletter-form__message{justify-content:center;margin-bottom:0}.newsletter-form__message--success{margin-top:2rem}@media screen and (min-width: 750px){.newsletter-form__message{justify-content:flex-start}}.newsletter-form__button{width:4.4rem;margin:0;right:var(--inputs-border-width);top:0;height:100%;z-index:2}.newsletter-form__button:focus-visible{box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));background-color:rgb(var(--color-background))}.newsletter-form__button:focus{box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));background-color:rgb(var(--color-background))}.newsletter-form__button:not(:focus-visible):not(.focused){box-shadow:inherit;background-color:inherit}.newsletter-form__button .icon{width:1.5rem}.list-menu--right {right: 0;}.list-menu--disclosure {position: absolute;min-width: 100%;width: 20rem;border: 1px solid rgba(var(--color-foreground), 0.2);}.list-menu--disclosure:focus {outline: none;}.list-menu__item--active {text-decoration: underline;text-underline-offset: 0.3rem;}.list-menu__item--active:hover {text-decoration-thickness: 0.2rem;}.list-menu--disclosure.localization-selector {max-height: 18rem;overflow: auto;width: 10rem;padding: 0.5rem;}.list-payment {display: flex;flex-wrap: wrap;justify-content: center;margin: -0.5rem 0;padding-top: 1rem;padding-left: 0;}@media screen and (min-width: 750px) {.list-payment {justify-content: flex-end;margin: -0.5rem;padding-top: 0;}}.list-payment__item {align-items: center;display: flex;padding: 0.5rem;}.list-social {display: flex;flex-wrap: wrap;justify-content: flex-end;}@media only screen and (max-width: 749px) {.list-social {justify-content: center;}}.list-social__item .icon {height: 2.2rem;width: 2.2rem;}.list-social__link {align-items: center;display: flex;padding: 1.1rem;color: rgb(var(--color-foreground));}.utility-bar .list-social__link {padding: 0 0.8rem;height: 3.8rem;}.list-social__link:hover .icon {transform: scale(1.07);}</style>
{% endif %}
{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<link rel="stylesheet" data-href="{{ 'section-footer.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-newsletter.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-menu.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-payment.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-social.css' | asset_url }}">

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
              {% # theme-check-disable %}
              {{ shop | login_button: action: 'follow' }}
              {% # theme-check-enable %}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select
                  class="localization-selector link"
                  name="country_code"
                  aria-labelledby="FooterCountryLabelNoScript"
                >
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                  {{ 'localization.language_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="locale_code"
                  aria-labelledby="FooterLanguageLabelNoScript"
                >
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
                 <small class="copyright__content">+1 (302) 481-5425 - 15801 Santa Ana Ave, Fontana, CA 92337</small><br>
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content"></small>

        <style>
          @media screen and (min-width: 750px){
.footer__copyright {
    text-align: center!important;
}
          }
      </style>    
        
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
