{% if template contains "index" or template contains "collection" or template contains "product" %}
	
{% else %}
	<style>.list-menu--right {right: 0;}.list-menu--disclosure {position: absolute;min-width: 100%;width: 20rem;border: 1px solid rgba(var(--color-foreground), 0.2);}.list-menu--disclosure:focus {outline: none;}.list-menu__item--active {text-decoration: underline;text-underline-offset: 0.3rem;}.list-menu__item--active:hover {text-decoration-thickness: 0.2rem;}.list-menu--disclosure.localization-selector {max-height: 18rem;overflow: auto;width: 10rem;padding: 0.5rem;}.search__input.field__input{padding-right:9.8rem}.search__button{right:var(--inputs-border-width);top:var(--inputs-border-width)}.reset__button{right:calc(var(--inputs-border-width) + 4.4rem);top:var(--inputs-border-width)}.reset__button:not(:focus-visible):after{border-right:.1rem solid rgba(var(--color-foreground),.08);display:block;height:calc(100% - 1.6rem);content:"";position:absolute;right:0}.reset__button:not(:focus):after{border-right:.1rem solid rgba(var(--color-foreground),.08);display:block;height:calc(100% - 1.8rem);content:"";position:absolute;right:0}.search__button:focus-visible,.reset__button:focus-visible{background-color:rgb(var(--color-background));z-index:4}.search__button:focus,.reset__button:focus{background-color:rgb(var(--color-background));z-index:4}.search__button:not(:focus-visible):not(.focused),.reset__button:not(:focus-visible):not(.focused){box-shadow:inherit;background-color:inherit}.search__button:hover .icon,.reset__button:hover .icon{transform:scale(1.07)}.search__button .icon{height:1.8rem;width:1.8rem}.reset__button .icon.icon-close{height:1.8rem;width:1.8rem;stroke-width:.1rem}input::-webkit-search-decoration{-webkit-appearance:none}.header__icon--menu{position:initial}.js menu-drawer>details>summary:before,.js menu-drawer>details[open]:not(.menu-opening)>summary:before{content:"";position:absolute;cursor:default;width:100%;height:calc(100vh - 100%);height:calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));top:100%;left:0;background:rgba(var(--color-foreground),.5);opacity:0;visibility:hidden;z-index:2;transition:opacity 0s,visibility 0s}menu-drawer>details[open]>summary:before{visibility:visible;opacity:1;transition:opacity var(--duration-default) ease,visibility var(--duration-default) ease}.menu-drawer{position:absolute;transform:translate(-100%);visibility:hidden;z-index:3;left:0;top:100%;width:100%;padding:0;background-color:rgb(var(--color-background));overflow-x:hidden;filter:drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow),var(--drawer-shadow-opacity)))}.js .menu-drawer{height:calc(100vh - 100%);height:calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)))}.js details[open]>.menu-drawer,.js details[open]>.menu-drawer__submenu{transition:transform var(--duration-default) ease,visibility var(--duration-default) ease}.no-js details[open]>.menu-drawer,.js details[open].menu-opening>.menu-drawer,details[open].menu-opening>.menu-drawer__submenu{transform:translate(0);visibility:visible}.js .menu-drawer__navigation .submenu-open{visibility:hidden}@media screen and (min-width: 750px){.menu-drawer{width:40rem;border-width:0 var(--drawer-border-width) 0 0;border-style:solid;border-color:rgba(var(--color-foreground),var(--drawer-border-opacity))}.no-js .menu-drawer{height:auto}}.menu-drawer__inner-container{position:relative;height:100%}.menu-drawer__navigation-container{display:grid;grid-template-rows:1fr auto;align-content:space-between;overflow-y:auto;height:100%}.menu-drawer__navigation{padding:3rem 0}.menu-drawer__inner-submenu{height:100%;overflow-x:hidden;overflow-y:auto}.no-js .menu-drawer__navigation{padding:0}.no-js .menu-drawer__navigation>ul>li{border-bottom:.1rem solid rgba(var(--color-foreground),.04)}.no-js .menu-drawer__submenu ul>li{border-top:.1rem solid rgba(var(--color-foreground),.04)}.js .menu-drawer__menu li{margin-bottom:.2rem}.menu-drawer__menu-item{padding:1.1rem 3rem;text-decoration:none;font-size:1.8rem}.no-js .menu-drawer__menu-item{font-size:1.6rem}.no-js .menu-drawer__submenu .menu-drawer__menu-item{padding:1.2rem 5.2rem 1.2rem 6rem}.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item{padding-left:9rem}.menu-drawer summary.menu-drawer__menu-item{padding-right:5.2rem}.no-js .menu-drawer__menu-item .icon-caret{right:3rem}.menu-drawer__menu-item--active,.menu-drawer__menu-item:focus,.menu-drawer__close-button:focus,.menu-drawer__menu-item:hover,.menu-drawer__close-button:hover{color:rgb(var(--color-foreground));background-color:rgba(var(--color-foreground),.04)}.menu-drawer__menu-item--active:hover{background-color:rgba(var(--color-foreground),.08)}.js .menu-drawer__menu-item .icon-caret,.no-js .menu-drawer .icon-arrow{display:none}.menu-drawer__menu-item>.icon-arrow{position:absolute;right:3rem;top:50%;transform:translateY(-50%)}.js .menu-drawer__submenu{position:absolute;top:0;width:100%;bottom:0;left:0;background-color:rgb(var(--color-background));z-index:1;transform:translate(100%);visibility:hidden}.js .menu-drawer__submenu .menu-drawer__submenu{overflow-y:auto}.menu-drawer__close-button{margin-top:1.5rem;padding:1.2rem 2.6rem 1.2rem 3rem;text-decoration:none;display:flex;align-items:center;font-size:1.4rem;width:100%;background-color:transparent;font-family:var(--font-body-family);font-style:var(--font-body-style);text-align:left}.no-js .menu-drawer__close-button{display:none}.menu-drawer__close-button .icon-arrow{transform:rotate(180deg);margin-right:1rem}.menu-drawer__utility-links{padding:0;background-color:rgba(var(--color-foreground),.03);position:relative}.header--has-social .menu-drawer__utility-links{padding:2rem 3rem}@media screen and (max-width: 749px){.header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links{padding:2rem 3rem}}@media screen and (max-width: 989px){.header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links{padding:2rem 3rem}}.menu-drawer__account{display:inline-flex;align-items:center;text-decoration:none;padding:1rem 0;font-size:1.4rem;color:rgb(var(--color-foreground));margin-bottom:0}.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account{margin:0}.menu-drawer__account .icon-account{height:2rem;width:2rem;margin-right:1rem}.menu-drawer__account:hover .icon-account{transform:scale(1.07)}.menu-drawer .list-social{justify-content:flex-start;margin-left:-1.25rem}.menu-drawer .list-social:empty{display:none}.menu-drawer .list-social__link{padding:1.1rem}.cart-notification-wrapper{position:relative}.cart-notification-wrapper .cart-notification{display:block}.cart-notification{border-bottom-right-radius:var(--popup-corner-radius);border-bottom-left-radius:var(--popup-corner-radius);border-color:rgba(var(--color-foreground),var(--popup-border-opacity));border-style:solid;border-width:0 0 var(--popup-border-width);padding:2.5rem 3.5rem;position:absolute;right:0;transform:translateY(-100%);visibility:hidden;width:100%;box-shadow:var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity));z-index:-1}.cart-notification.focused{box-shadow:0 0 .2rem 0 rgba(var(--color-foreground),.3),var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity))}.cart-notification:focus-visible{box-shadow:0 0 .2rem 0 rgba(var(--color-foreground),.3),var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity))}@media screen and (min-width: 750px){.header-wrapper:not(.header-wrapper--border-bottom)+cart-notification .cart-notification{border-top-width:var(--popup-border-width)}.cart-notification{border-width:0 var(--popup-border-width) var(--popup-border-width);max-width:36.8rem;right:2.2rem}}@media screen and (min-width: 990px){.cart-notification-wrapper:is(.page-width)>.cart-notification{right:4rem}}.cart-notification.animate{transition:transform var(--duration-short) ease,visibility 0s var(--duration-short) ease}.cart-notification.active{transform:translateY(0);transition:transform var(--duration-default) ease,visibility 0s;visibility:visible}.cart-notification__header{align-items:flex-start;display:flex}.cart-notification__heading{align-items:center;display:flex;flex-grow:1;margin-bottom:0;margin-top:0}.cart-notification__heading .icon-checkmark{color:rgb(var(--color-foreground));margin-right:1rem;width:1.3rem}.cart-notification__close{margin-top:-2rem;margin-right:-3rem}.cart-notification__links{text-align:center}.cart-notification__links>*{margin-top:1rem}.cart-notification-product{align-items:flex-start;display:flex;padding-bottom:3rem;padding-top:2rem}.cart-notification-product dl{margin-bottom:0;margin-top:0}.cart-notification-product__image{display:inline-flex;margin-right:1.5rem;margin-top:.5rem}.cart-notification-product__image:after{content:none}.cart-notification-product__name{margin-bottom:.5rem;margin-top:0}.cart-items td,.cart-items th{padding:0;border:none}.cart-items th{text-align:left;padding-bottom:1.8rem;opacity:.85;font-weight:400}.cart-item__quantity-wrapper{display:flex}.cart-item__totals{position:relative}.cart-items *.right{text-align:right}.cart-item__image-container{display:inline-flex;align-items:flex-start}.cart-item__image-container:after{content:none}.cart-item__image{height:auto;max-width:calc(10rem / var(--font-body-scale))}@media screen and (min-width: 750px){.cart-item__image{max-width:100%}}.cart-item__details{font-size:1.6rem;line-height:calc(1 + .4 / var(--font-body-scale))}.cart-item__details>*{margin:0;max-width:30rem}.cart-item__details>*+*{margin-top:.6rem}.cart-item__media{position:relative}.cart-item__link{display:block;bottom:0;left:0;position:absolute;right:0;top:0;width:100%;height:100%}.cart-item__name{text-decoration:none;display:block}.cart-item__name:hover{text-decoration:underline;text-underline-offset:.3rem;text-decoration-thickness:.2rem}.cart-item__price-wrapper>*{display:block;margin:0;padding:0}.cart-item__discounted-prices dd{margin:0}.cart-item__discounted-prices .cart-item__old-price{font-size:1.4rem}.cart-item__old-price{opacity:.7}.cart-item__final-price{font-weight:400}.product-option{font-size:1.4rem;word-break:break-word;line-height:calc(1 + .5 / var(--font-body-scale))}.cart-item cart-remove-button{display:flex;margin-left:1rem}@media screen and (min-width: 750px) and (max-width: 989px){.cart-item cart-remove-button{width:4.5rem;height:4.5rem}}cart-remove-button .button{min-width:calc(4.5rem / var(--font-body-scale));min-height:4.5rem;padding:0;margin:0 .1rem .1rem 0}cart-remove-button .button:before,cart-remove-button .button:after{content:none}cart-remove-button .button:not([disabled]):hover{color:rgb(var(--color-foreground))}@media screen and (min-width: 750px){cart-remove-button .button{min-width:3.5rem;min-height:3.5rem}}cart-remove-button .icon-remove{height:1.5rem;width:1.5rem}.cart-item .loading-overlay{top:0;left:auto;right:auto;bottom:0;padding:0}@media screen and (min-width: 750px){.cart-item .loading-overlay{right:0;padding-top:4.5rem;bottom:auto}}.cart-item .loading-overlay:not(.hidden)~*{visibility:hidden}.cart-item__error{display:flex;align-items:flex-start;margin-top:.2rem;width:min-content;min-width:100%}.cart-item__error-text{font-size:1.2rem;line-height:calc(1 + .2 / var(--font-body-scale));order:1}.cart-item__error-text+svg{flex-shrink:0;width:1.2rem;margin-right:.5rem;margin-top:.1rem}.cart-item__error-text:empty+svg{display:none}.product-option+.product-option{margin-top:.4rem}.product-option *{display:inline;margin:0}.cart-items thead th{text-transform:uppercase}@media screen and (max-width: 749px){.cart-items,.cart-items thead,.cart-items tbody{display:block;width:100%}.cart-items thead tr{display:flex;justify-content:space-between;border-bottom:.1rem solid rgba(var(--color-foreground),.2);margin-bottom:4rem}.cart-item{display:grid;grid-template:repeat(2,auto) / repeat(4,1fr);gap:1.5rem;margin-bottom:3.5rem}.cart-item:last-child{margin-bottom:0}.cart-item__media{grid-row:1 / 3}.cart-item__details{grid-column:2 / 4}.cart-item__quantity{grid-column:2 / 5}.cart-item__quantity-wrapper{flex-wrap:wrap}.cart-item__totals{display:flex;align-items:flex-start;justify-content:flex-end}}@media screen and (min-width: 750px){.cart-items{border-spacing:0;border-collapse:separate;box-shadow:none;width:100%;display:table}.cart-items th{border-bottom:.1rem solid rgba(var(--color-foreground),.08)}.cart-items thead th:first-child{width:50%}.cart-items th+th{padding-left:4rem}.cart-items td{vertical-align:top;padding-top:4rem}.cart-item{display:table-row}.cart-item>td+td{padding-left:4rem}.cart-item__details{width:35rem}.cart-item__media{width:10rem}.cart-item cart-remove-button{margin:.5rem 0 0 1.5rem}.cart-item__price-wrapper>*:only-child:not(.cart-item__discounted-prices){margin-top:1rem}.cart-item__error{margin-left:.3rem}}@media screen and (min-width: 990px){.cart-item .cart-item__quantity,.cart-items .cart-items__heading--wide{padding-left:6rem}.cart-item__details{width:50rem}.cart-items thead th:first-child{width:60%}}@media screen and (min-width: 750px){.cart-items .cart-items__heading--quantity,.cart-item .cart-item__quantity,.cart-item__quantity--info quantity-popover>*,.no-js .cart-item .cart-item__quantity--info{padding-left:5rem}.cart-item .cart-item__quantity--info,.cart-item__quantity--info .cart-item__quantity-wrapper,.cart-item__quantity--info .cart-items__info{padding-left:0}}@media screen and (min-width: 749px) and (max-width: 990px){.cart-items .quantity-popover__info-button{padding-left:1.5rem}}.price{font-size:1.6rem;letter-spacing:.1rem;line-height:calc(1 + .5 / var(--font-body-scale));color:rgb(var(--color-foreground))}.price>*{display:inline-block;vertical-align:top}.price.price--unavailable{visibility:hidden}.price--end{text-align:right}.price .price-item{display:inline-block;margin:0 1rem 0 0}.price__regular .price-item--regular{margin-right:0}.price:not(.price--show-badge) .price-item--last:last-of-type{margin:0}@media screen and (min-width: 750px){.price{margin-bottom:0}}.price--large{font-size:1.6rem;line-height:calc(1 + .5 / var(--font-body-scale));letter-spacing:.13rem}@media screen and (min-width: 750px){.price--large{font-size:1.8rem}}.price--sold-out .price__availability,.price__regular{display:block}.price__sale,.price__availability,.price .price__badge-sale,.price .price__badge-sold-out,.price--on-sale .price__regular,.price--on-sale .price__availability{display:none}.price--sold-out .price__badge-sold-out,.price--on-sale .price__badge-sale,.volume-pricing--sale-badge .price__badge-sale{display:inline-block}.volume-pricing--sale-badge .price__badge-sale{margin-left:.5rem}.price--on-sale .price__sale{display:initial;flex-direction:row;flex-wrap:wrap}.price--center{display:initial;justify-content:center}.price--on-sale .price-item--regular{text-decoration:line-through;color:rgba(var(--color-foreground),.75);font-size:1.3rem}.unit-price{display:block;font-size:1.1rem;letter-spacing:.04rem;line-height:calc(1 + .2 / var(--font-body-scale));margin-top:.2rem;text-transform:uppercase;color:rgba(var(--color-foreground),.7)}.loading-overlay{position:absolute;z-index:1;width:1.8rem}price-per-item .loading-overlay{position:relative}@media screen and (max-width: 749px){.loading-overlay{top:0;right:0}}@media screen and (min-width: 750px){.loading-overlay{left:0}}.loading-overlay__spinner{width:1.8rem;display:inline-block}price-per-item .loading-overlay__spinner{display:flex}.spinner{animation:rotator 1.4s linear infinite}@keyframes rotator{0%{transform:rotate(0)}to{transform:rotate(270deg)}}.path{stroke-dasharray:280;stroke-dashoffset:0;transform-origin:center;stroke:rgb(var(--color-foreground));animation:dash 1.4s ease-in-out infinite}@media screen and (forced-colors: active){.path{stroke:CanvasText}}@keyframes dash{0%{stroke-dashoffset:280}50%{stroke-dashoffset:75;transform:rotate(135deg)}to{stroke-dashoffset:280;transform:rotate(450deg)}}.loading-overlay:not(.hidden)+.cart-item__price-wrapper,.loading-overlay:not(.hidden)~cart-remove-button{opacity:50%}.loading-overlay:not(.hidden)~cart-remove-button{pointer-events:none;cursor:default}.drawer{position:fixed;z-index:1000;left:0;top:0;width:100vw;height:100%;display:flex;justify-content:flex-end;background-color:rgba(var(--color-foreground),.5);transition:visibility var(--duration-default) ease}.drawer.active{visibility:visible}.drawer__inner{height:100%;width:40rem;max-width:calc(100vw - 3rem);padding:0 1.5rem;border:.1rem solid rgba(var(--color-foreground),.2);border-right:0;background-color:rgb(var(--color-background));overflow:hidden;display:flex;flex-direction:column;transform:translate(100%);transition:transform var(--duration-default) ease}.drawer__inner-empty{height:100%;padding:0 1.5rem;background-color:rgb(var(--color-background));overflow:hidden;display:flex;flex-direction:column}.cart-drawer__warnings{display:flex;flex-direction:column;flex:1;justify-content:center}cart-drawer.is-empty .drawer__inner{display:grid;grid-template-rows:1fr;align-items:center;padding:0}cart-drawer.is-empty .drawer__header{display:none}cart-drawer:not(.is-empty) .cart-drawer__warnings,cart-drawer:not(.is-empty) .cart-drawer__collection{display:none}.cart-drawer__warnings--has-collection .cart__login-title{margin-top:2.5rem}.drawer.active .drawer__inner{transform:translate(0)}.drawer__header{position:relative;background-color:rgb(var(--color-background));padding:1.5rem 0;display:flex;justify-content:space-between;align-items:center}.drawer__heading{margin:0 0 1rem}.drawer__close{display:inline-block;padding:0;min-width:4.4rem;min-height:4.4rem;box-shadow:0 0 0 .2rem rgba(var(--color-button),0);position:absolute;top:10px;right:-10px;color:rgb(var(--color-foreground));background-color:transparent;border:none;cursor:pointer}.cart-drawer__warnings .drawer__close{right:5px}.drawer__close svg{height:2.4rem;width:2.4rem}.drawer__contents{flex-grow:1;display:flex;flex-direction:column}.drawer__footer{background-color:rgb(var(--color-background));border-top:.1rem solid rgba(var(--color-foreground),.2);padding:1.5rem 0}cart-drawer-items.is-empty+.drawer__footer{display:none}.drawer__footer>details{margin-top:-1.5rem;border-bottom:.1rem solid rgba(var(--color-foreground),.2)}.drawer__footer>details[open]{padding-bottom:1.5rem}.drawer__footer summary{display:flex;position:relative;line-height:1;padding:1.5rem 0}.drawer__footer>details+.cart-drawer__footer{padding-top:1.5rem}cart-drawer{position:fixed;top:0;left:0;width:100vw;height:100%}.cart-drawer__overlay{position:fixed;top:0;right:0;bottom:0;left:0}.cart-drawer__overlay:empty{display:block}.cart-drawer__form{flex-grow:1;display:flex;flex-wrap:wrap}.cart-drawer__collection{margin:0 2.5rem 1.5rem}.cart-drawer .drawer__cart-items-wrapper{flex-grow:1}.cart-drawer .cart-items,.cart-drawer tbody{display:block;width:100%}.cart-drawer thead{display:inline-table;width:100%;position:sticky;top:0;z-index:2;background-color:rgb(var(--color-background))}cart-drawer-items{overflow:auto;flex:1}@media screen and (max-height: 650px){cart-drawer-items{overflow:visible}.drawer__inner{overflow:scroll}}.cart-drawer .cart-item{display:grid;grid-template:repeat(2,auto) / repeat(4,1fr);gap:1.5rem;margin-bottom:0}.cart-drawer .cart-item:last-child{margin-bottom:1rem}.cart-drawer .cart-item__media{grid-row:1 / 3}.cart-drawer .cart-item__image{max-width:100%}.cart-drawer .cart-items thead{margin-bottom:.5rem}.cart-drawer .cart-items thead th:first-child,.cart-drawer .cart-items thead th:last-child{width:0;padding:0}.cart-drawer .cart-items thead th:nth-child(2){width:50%;padding-left:0}.cart-drawer .cart-items thead tr{display:table-row;margin-bottom:0}.cart-drawer .cart-items th{border-bottom:.1rem solid rgba(var(--color-foreground),.08)}.cart-drawer .cart-item:last-child{margin-bottom:1.5rem}.cart-drawer .cart-item .loading-overlay{right:5px;padding-top:2.5rem}.cart-drawer .cart-items td{padding-top:2rem}.cart-drawer .cart-item>td+td{padding-left:1rem}.cart-drawer .cart-item__details{width:auto;grid-column:2 / 4}.cart-drawer .cart-item__totals{pointer-events:none;display:flex;align-items:flex-start;justify-content:flex-end}.cart-drawer.cart-drawer .cart-item__price-wrapper>*:only-child{margin-top:0}.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices{display:flex;flex-direction:column;gap:.6rem}.cart-drawer .unit-price{margin-top:.6rem}.cart-drawer .cart-items .cart-item__quantity{padding-top:0;grid-column:2 / 5}@media screen and (max-width: 749px){.cart-drawer .cart-item cart-remove-button{margin-left:0}}.cart-drawer__footer>*+*{margin-top:1rem}.cart-drawer .totals{justify-content:space-between}.cart-drawer .price{line-height:1}.cart-drawer .tax-note{margin:1.2rem 0 1rem auto;text-align:left}.cart-drawer .product-option dd{word-break:break-word}.cart-drawer details[open]>summary .icon-caret{transform:rotate(180deg)}.cart-drawer .cart__checkout-button{max-width:none}.drawer__footer .cart__dynamic-checkout-buttons{max-width:100%}.drawer__footer #dynamic-checkout-cart ul{flex-wrap:wrap!important;flex-direction:row!important;margin:.5rem -.5rem 0 0!important;gap:.5rem}.drawer__footer [data-shopify-buttoncontainer]{justify-content:flex-start}.drawer__footer #dynamic-checkout-cart ul>li{flex-basis:calc(50% - .5rem)!important;margin:0!important}.drawer__footer #dynamic-checkout-cart ul>li:only-child{flex-basis:100%!important;margin-right:.5rem!important}@media screen and (min-width: 750px){.drawer__footer #dynamic-checkout-cart ul>li{flex-basis:calc(100% / 3 - .5rem)!important;margin:0!important}.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2),.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(2)~li,.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4),.drawer__footer #dynamic-checkout-cart ul>li:first-child:nth-last-child(4)~li{flex-basis:calc(50% - .5rem)!important}}cart-drawer-items::-webkit-scrollbar{width:3px}cart-drawer-items::-webkit-scrollbar-thumb{background-color:rgba(var(--color-foreground),.7);border-radius:100px}cart-drawer-items::-webkit-scrollbar-track-piece{margin-top:31px}.cart-drawer .quantity-popover-container{padding:0}.cart-drawer .quantity-popover__info.global-settings-popup{transform:translateY(0);right:0}.cart-drawer .cart-item__error{margin-top:.8rem}.cart-drawer .quantity-popover__info+.cart-item__error{margin-top:.2rem}@media screen and (min-width: 750px){.cart-drawer .cart-item__quantity--info quantity-popover>*{padding-left:0}.cart-drawer .cart-item__error{margin-left:0}}.cart{position:relative;display:block}.cart__empty-text,.is-empty .cart__contents,cart-items.is-empty .title-wrapper-with-link,.is-empty .cart__footer{display:none}.is-empty .cart__empty-text,.is-empty .cart__warnings{display:block}.cart__warnings{display:none;text-align:center;padding:3rem 0 1rem}.cart__empty-text{margin:4.5rem 0 2rem}.cart__contents>*+*{margin-top:2.5rem}.cart__login-title{margin:5.5rem 0 .5rem}.cart__login-paragraph{margin-top:.8rem}.cart__login-paragraph a{font-size:inherit}@media screen and (min-width: 990px){.cart__warnings{padding:7rem 0 1rem}.cart__empty-text{margin:0 0 3rem}}cart-items{display:block}.cart__items{position:relative;padding-bottom:3rem;border-bottom:.1rem solid rgba(var(--color-foreground),.08)}.cart__items--disabled{pointer-events:none}.cart__footer-wrapper:last-child .cart__footer{padding-bottom:5rem}.cart__footer>div:only-child{margin-left:auto}.cart__footer>*+*{margin-top:6.5rem}.cart__footer .discounts{margin-bottom:1rem}.cart__note{height:fit-content;top:2.5rem}.cart__note label{display:flex;align-items:flex-end;position:absolute;line-height:1;height:1.8rem;top:-3rem;color:rgba(var(--color-foreground),.75)}.cart__note .field__input{height:100%;position:relative;border-radius:var(--inputs-radius);padding:1rem 2rem}.cart__note .text-area{resize:vertical}.cart__note:after,.cart__note:hover.cart__note:after,.cart__note:before,.cart__note:hover.cart__note:before,.cart__note .field__input:focus,.cart__note .field__input{border-bottom-right-radius:0}@media screen and (min-width: 750px){.cart__items{grid-column-start:1;grid-column-end:3;padding-bottom:4rem}.cart__contents>*+*{margin-top:0}.cart__items+.cart__footer{grid-column:2}.cart__footer{display:flex;justify-content:space-between;border:0}.cart__footer-wrapper:last-child{padding-top:0}.cart__footer>*{width:35rem}.cart__footer>*+*{margin-left:4rem;margin-top:0}}.cart__ctas button{width:100%}.cart__ctas>*:not(noscript:first-child)+*{margin-top:1rem}.cart__update-button{margin-bottom:1rem}.cart__dynamic-checkout-buttons{max-width:36rem;margin:0 auto}.cart__dynamic-checkout-buttons div[role=button]{border-radius:var(--buttons-radius-outset)!important}.cart__blocks>*+*{margin-top:1rem}.cart-note__label{display:inline-block;margin-bottom:1rem;line-height:calc(1 + 1 / var(--font-body-scale))}.tax-note{margin:2.2rem 0 1.6rem auto;text-align:center;display:block}.cart__checkout-button{max-width:36rem}.cart__ctas{text-align:center}@media screen and (min-width: 750px){.cart-note{max-width:35rem}.cart__update-button{margin-bottom:0;margin-right:.8rem}.tax-note{margin-bottom:2.2rem;text-align:right}[data-shopify-buttoncontainer]{justify-content:flex-end}.cart__ctas{display:flex;gap:1rem}}.totals{display:flex;justify-content:center;align-items:flex-end}.totals>*{font-size:1.6rem;margin:0}.totals>h2{font-size:calc(var(--font-heading-scale) * 1.6rem)}.totals *{line-height:1}.totals>*+*{margin-left:2rem}.totals__total{margin-top:.5rem}.totals__total-value{font-size:1.8rem}.cart__ctas+.totals{margin-top:2rem}@media all and (min-width: 750px){.totals{justify-content:flex-end}}.price{font-size:1.6rem;letter-spacing:.1rem;line-height:calc(1 + .5 / var(--font-body-scale));color:rgb(var(--color-foreground))}.price>*{display:inline-block;vertical-align:top}.price.price--unavailable{visibility:hidden}.price--end{text-align:right}.price .price-item{display:inline-block;margin:0 1rem 0 0}.price__regular .price-item--regular{margin-right:0}.price:not(.price--show-badge) .price-item--last:last-of-type{margin:0}@media screen and (min-width: 750px){.price{margin-bottom:0}}.price--large{font-size:1.6rem;line-height:calc(1 + .5 / var(--font-body-scale));letter-spacing:.13rem}@media screen and (min-width: 750px){.price--large{font-size:1.8rem}}.price--sold-out .price__availability,.price__regular{display:block}.price__sale,.price__availability,.price .price__badge-sale,.price .price__badge-sold-out,.price--on-sale .price__regular,.price--on-sale .price__availability{display:none}.price--sold-out .price__badge-sold-out,.price--on-sale .price__badge-sale,.volume-pricing--sale-badge .price__badge-sale{display:inline-block}.volume-pricing--sale-badge .price__badge-sale{margin-left:.5rem}.price--on-sale .price__sale{display:initial;flex-direction:row;flex-wrap:wrap}.price--center{display:initial;justify-content:center}.price--on-sale .price-item--regular{text-decoration:line-through;color:rgba(var(--color-foreground),.75);font-size:1.3rem}.unit-price{display:block;font-size:1.1rem;letter-spacing:.04rem;line-height:calc(1 + .2 / var(--font-body-scale));margin-top:.2rem;text-transform:uppercase;color:rgba(var(--color-foreground),.7)}.discounts {font-size: 1.2rem;}.discounts__discount {display: flex;align-items: center;line-height: calc(1 + 0.5 / var(--font-body-scale));}.discounts__discount svg {color: rgba(var(--color-button), var(--alpha-button-background));}.discounts__discount--position {justify-content: center;}@media screen and (min-width: 750px) {.discounts__discount--position {justify-content: flex-end;}}.discounts__discount > .icon {color: rgb(var(--color-foreground));width: 1.2rem;height: 1.2rem;margin-right: 0.7rem;}.loading-overlay{position:absolute;z-index:1;width:1.8rem}price-per-item .loading-overlay{position:relative}@media screen and (max-width: 749px){.loading-overlay{top:0;right:0}}@media screen and (min-width: 750px){.loading-overlay{left:0}}.loading-overlay__spinner{width:1.8rem;display:inline-block}price-per-item .loading-overlay__spinner{display:flex}.spinner{animation:rotator 1.4s linear infinite}@keyframes rotator{0%{transform:rotate(0)}to{transform:rotate(270deg)}}.path{stroke-dasharray:280;stroke-dashoffset:0;transform-origin:center;stroke:rgb(var(--color-foreground));animation:dash 1.4s ease-in-out infinite}@media screen and (forced-colors: active){.path{stroke:CanvasText}}@keyframes dash{0%{stroke-dashoffset:280}50%{stroke-dashoffset:75;transform:rotate(135deg)}to{stroke-dashoffset:280;transform:rotate(450deg)}}.loading-overlay:not(.hidden)+.cart-item__price-wrapper,.loading-overlay:not(.hidden)~cart-remove-button{opacity:50%}.loading-overlay:not(.hidden)~cart-remove-button{pointer-events:none;cursor:default}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'component-list-menu.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-search.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-menu-drawer.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-cart-notification.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-cart-items.css' | asset_url }}">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" data-href="{{ 'component-price.css' | asset_url }}">
  <link rel="stylesheet" data-href="{{ 'component-loading-overlay.css' | asset_url }}">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  <link rel="stylesheet" data-href="{{ 'component-cart-drawer.css' | asset_url }}">
  <link rel="stylesheet" data-href="{{ 'component-cart.css' | asset_url }}">
  <link rel="stylesheet" data-href="{{ 'component-totals.css' | asset_url }}">
  <link rel="stylesheet" data-href="{{ 'component-price.css' | asset_url }}">
  <link rel="stylesheet" data-href="{{ 'component-discounts.css' | asset_url }}">
  <link rel="stylesheet" data-href="{{ 'component-loading-overlay.css' | asset_url }}">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<script type="lazyload_int" data-src="{{ 'details-disclosure.js' | asset_url }}"></script>
<script type="lazyload_int" data-src="{{ 'details-modal.js' | asset_url }}"></script>
<script type="lazyload_int" data-src="{{ 'cart-notification.js' | asset_url }}"></script>
<script type="lazyload_int" data-src="{{ 'search-form.js' | asset_url }}"></script>
{%- if settings.cart_type == "drawer" -%}
  <script type="lazyload_int" data-src="{{ 'cart-drawer.js' | asset_url }}"></script>
{%- endif -%}


<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

<script type="lazyload_int">
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
      {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
